:root {
    --light-yellow: #ffef82;
    --dark-yellow: #efd345;
    --light-green: #babd42;
    --dark-green: #82954b;
}
/* universal */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */
header {
    background-color: var(--dark-green);
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px 0;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    text-align: center;
    font-size: 2.9vw;
    padding: 40px 60px 40px 40px;
    background-color: var(--dark-yellow);
    color: var(--dark-green);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header nav {
    margin: 20px 10px;
    padding: 0 10px 0 200px;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 20px 10px;;
}
  
header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.7vw;
    text-decoration: none;
    color: var(--dark-yellow);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
header nav ul li a:hover {
    background: var(--light-green);
    color: var(--light-yellow);
    border-radius: 30px;
    text-shadow: none;
}

/* hero stuff tba */
.hero {
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 600px;
    margin: 0 auto;
}

.subtitle {
    margin: 85px 400px 1500px 1200px;
    font-size: 1.9vw;
    text-align: right;
    font-style: italic;
    border-right: 5px solid var(--dark-green);
    padding-right: 15px;
}


/* large about me text (I'm a leo fyi) */
.bio-header {
    padding-right: 75px;
}
.lil-bit-bout-me {
    display: flex;
    flex-wrap: nowrap;
}

.lil-bit-bout-me p {
    font-size: 1.5vw;
    text-align: right;
    margin: 130px 105px 100px 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* section stuff for like the big parts */
.section-title {
    text-align: left;
    font-size: 2.7vw;
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding-right: 10px;
    border-right: 5px solid var(--dark-green);
}

.section-title h2 {
    text-align: right;
}

/* the goods */
.work-header {
    padding-right: 87px;
}
.subjects {
    display: flex;
    flex-wrap: nowrap;
}

.cards {
    flex: 1;
    padding: 5px 5px 5px 0;
    display: flex;
    flex-wrap: wrap;
}

.cards img {
    padding: 200px;
}

.main-project {
    border: 5px solid var(--light-green);
    margin: 100px 60px 50px 120px;
    padding-right: 510px;
}

.subject-title {
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: var(--light-green);
    font-size: 1.9vw;
    margin-right: 175px;
}

.side-project {
    border: 5px solid var(--light-green);
    margin: 30px 0 30px 114px;
}

/* contact me */
.contact-header {
    padding-right: 25px;
}
.contact-me {
    display: flex;
    flex-wrap: nowrap;
}

.contact-info {
    margin: 100px 30px;
    padding: 0 10px 0 100px;
}
  
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.contact-info ul li {
    padding: 20px 30px;
}
  
.contact-info ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.7vw;
    text-decoration: none;
    color: var(--dark-green);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.contact-info ul li a:hover {
    background: var(--dark-green);
    color: var(--light-yellow);
    border-radius: 30px;
    text-shadow: none;
}

.contact-info ul li p {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.7vw;
    text-decoration: none;
    color: var(--dark-green);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-info ul li p:hover {
    background: var(--dark-green);
    color: var(--light-yellow);
    border-radius: 30px;
    text-shadow: none;
}

/* footer */
footer {
    margin: 0;
    background-color: var(--dark-green);
    padding: 30px;
    text-align: center;
}